In [56]:
import pandas as pd

In [57]:
# загрузка датасета
df = pd.read_csv('bookings.csv', sep=';')
df

,Hotel,Is Canceled,Lead Time,arrival full date,Arrival Date Year,Arrival Date Month,Arrival Date Week Number,Arrival Date Day of Month,Stays in Weekend nights,Stays in week nights,...,Adults,Children,Babies,Meal,Country,Reserved Room Type,Assigned room type,customer type,Reservation Status,Reservation status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017-08-30,2017,August,35,30,2,5,...,2,0.0,0,BB,BEL,A,A,Transient,Check-Out,2017-09-06
119386,City Hotel,0,102,2017-08-31,2017,August,35,31,2,5,...,3,0.0,0,BB,FRA,E,E,Transient,Check-Out,2017-09-07
119387,City Hotel,0,34,2017-08-31,2017,August,35,31,2,5,...,2,0.0,0,BB,DEU,D,D,Transient,Check-Out,2017-09-07
119388,City Hotel,0,109,2017-08-31,2017,August,35,31,2,5,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2017-09-07
119389,City Hotel,0,205,2017-08-29,2017,August,35,29,2,7,...,2,0.0,0,HB,DEU,A,A,Transient,Check-Out,2017-09-07

In [58]:
# изучение типов данных
df.dtypes

Hotel                         object
Is Canceled                    int64
Lead Time                      int64
arrival full date             object
Arrival Date Year              int64
Arrival Date Month            object
Arrival Date Week Number       int64
Arrival Date Day of Month      int64
Stays in Weekend nights        int64
Stays in week nights           int64
stays total nights             int64
Adults                         int64
Children                     float64
Babies                         int64
Meal                          object
Country                       object
Reserved Room Type            object
Assigned room type            object
customer type                 object
Reservation Status            object
Reservation status_date       object
dtype: object

In [59]:
# смотрю какие колонки в датафрейме
df.columns

Index(['Hotel', 'Is Canceled', 'Lead Time', 'arrival full date',
       'Arrival Date Year', 'Arrival Date Month', 'Arrival Date Week Number',
       'Arrival Date Day of Month', 'Stays in Weekend nights',
       'Stays in week nights', 'stays total nights', 'Adults', 'Children',
       'Babies', 'Meal', 'Country', 'Reserved Room Type', 'Assigned room type',
       'customer type', 'Reservation Status', 'Reservation status_date'],
      dtype='object')

In [60]:
# привожу названия колонок к нижнему регистру и заменяю пробелы на нижнее подчеркивание
df = df.rename(columns = str.lower)
df = df.rename(columns=lambda col: col.replace(" ", "_"))

In [61]:
df

,hotel,is_canceled,lead_time,arrival_full_date,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,...,adults,children,babies,meal,country,reserved_room_type,assigned_room_type,customer_type,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017-08-30,2017,August,35,30,2,5,...,2,0.0,0,BB,BEL,A,A,Transient,Check-Out,2017-09-06
119386,City Hotel,0,102,2017-08-31,2017,August,35,31,2,5,...,3,0.0,0,BB,FRA,E,E,Transient,Check-Out,2017-09-07
119387,City Hotel,0,34,2017-08-31,2017,August,35,31,2,5,...,2,0.0,0,BB,DEU,D,D,Transient,Check-Out,2017-09-07
119388,City Hotel,0,109,2017-08-31,2017,August,35,31,2,5,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2017-09-07
119389,City Hotel,0,205,2017-08-29,2017,August,35,29,2,7,...,2,0.0,0,HB,DEU,A,A,Transient,Check-Out,2017-09-07

In [62]:
# Пользователи из каких стран совершили наибольшее число успешных бронирований? Укажите топ-5.

success_5 = df \
    .query("is_canceled == 0") \
    .groupby('country', as_index = False) \
    .aggregate({'is_canceled':'count'}) \
    .sort_values('is_canceled', ascending = False) \
    .head()
success_5

    country  is_canceled
125     PRT        21071
57      GBR         9676
54      FRA         8481
50      ESP         6391
42      DEU         6069

In [66]:
# На сколько ночей в среднем бронируют отели разных типов?

nights = df \
    .groupby(['hotel'], as_index = False) \
    .agg({'stays_total_nights':'mean'})
nights.round(2)

#df.groupby('hotel').stays_total_nights.mean().round(2)

          hotel  stays_total_nights
0    City Hotel                2.98
1  Resort Hotel                4.32

In [154]:
# Иногда тип номера, полученного клиентом (assigned_room_type), отличается от изначально забронированного (reserved_room_type). 
# Такое может произойти, например, по причине овербукинга. Сколько подобных наблюдений встретилось в датасете?

overbooking = df \
    .query("assigned_room_type != reserved_room_type").shape[0]
print("Фактически полученных номеров, отличающихся от забронированных", overbooking)

# len(df.loc[df.assigned_room_type != df.reserved_room_type])

Фактически полученных номеров, отличающихся от забронированных 14917

In [112]:
# На какой месяц чаще всего оформляли бронь в 2016 году? Изменился ли самый популярный месяц в 2017 году?

most_pop_month_2016 = df \
    .query("arrival_date_year == 2016") \
    .arrival_date_month.value_counts()
most_pop_month_2016.head(1)

October    6203
Name: arrival_date_month, dtype: int64

In [113]:
most_pop_month_2017 = df \
    .query("arrival_date_year == 2017") \
    .arrival_date_month.value_counts()
most_pop_month_2017.head(1)

May    6313
Name: arrival_date_month, dtype: int64

In [104]:
# Сгруппируйте данные по годам, 
# а затем проверьте, на какой месяц (arrival_date_month) бронирования отеля типа City Hotel 
#отменялись чаще всего в 2015? 2016? 2017? 

(
df
    .query("hotel == 'City Hotel' and is_canceled == 1 ")
    .groupby('arrival_date_year')
    .arrival_date_month
    .value_counts()
)

arrival_date_year  arrival_date_month
2015               September             1543
                   October               1321
                   August                1232
                   July                   939
                   December               668
                   November               301
2016               October               1947
                   June                  1720
                   September             1567
                   April                 1539
                   May                   1436
                   November              1360
                   August                1247
                   March                 1108
                   December              1072
                   July                  1043
                   February               930
                   January                438
2017               May                   2217
                   April                 1926
                   June                  1808
                   July                  1324
                   March                 1278
                   August                1123
                   January               1044
                   February               971
Name: arrival_date_month, dtype: int64

In [119]:
# Посмотрите на числовые характеристики трёх колонок: adults, children и babies. 
# Какая из них имеет наибольшее среднее значение?

df[['adults', 'children', 'babies']].mean().head(1)

adults    1.856403
dtype: float64

In [125]:
# Создайте колонку total_kids, объединив столбцы children и babies
# Для отелей какого типа среднее значение переменной оказалось наибольшим?

df['total_kids'] = df.children + df.babies
(
    df
    .groupby('hotel')
    .agg({'total_kids': 'mean'})
    .round(2)
)


# df['total_kids'] = df['children'] + df['babies']

              total_kids
hotel
City Hotel          0.10
Resort Hotel        0.14

In [151]:
# Не все бронирования завершились успешно (is_canceled), поэтому можно посчитать, сколько клиентов было потеряно в процессе. 
# Churn Rate.

df['has_kids'] = df['total_kids'] > 0
no_kids_churn = df.query("has_kids == False and is_canceled == 1").shape[0] / df.query("has_kids == False").shape[0]
no_kids_churn = round(no_kids_churn*100, 2)
chrn = '{}'
chrn = chrn.format(no_kids_churn)
print("Churn Rate для пользователей, которые не указали детей при бронировании", chrn)

Churn Rate для пользователей, которые не указали детей при бронировании 37.22

In [153]:
has_kids_churn = df.query("has_kids == True and is_canceled == 1").shape[0] / df.query("has_kids == True").shape[0]
has_kids_churn = round(has_kids_churn*100, 2)
chrn_2 = '{}'
chrn_2 = chrn_2.format(has_kids_churn)
print("Churn Rate для пользователей, которые указали детей при бронировании", chrn_2)

Churn Rate для пользователей, которые указали детей при бронировании 34.92